    	/* per */
		body{
			min-width:1100px;
			background:url(imgs/bg/bgimg.png);
		}
		.all{
			width:320px;
			height:180px;
			padding:20px;
			margin:200px auto;
			background:#f5f8fd;
			border-radius:20px;
			border:3px solid #4faccb;
		}
		.title,.one,.two,.three{
			margin-top:15px;
			text-align:center;
		}
		.title,.one,.two{
			font-family:"微软雅黑";
		}
		.one input,.two input{
			padding-left:5px;
		}
		.title{
			font-size:18px;
		}
		.btn01,.btn02{
			width:60px;
			height:25px;
			border-radius:3px;
			border:1px solid #6b5d50;
			margin-left:30px;
		}
		.btn01{
			background:#3bb7ea;
		}
		.btn02{
			background:#fb8c16;
		}